  @import '~bootstrap/scss/bootstrap';
  @import "~@fortawesome/fontawesome-free/scss/fontawesome";

  .logo {
    font-family: 'Billabong', cursive;
    font-size: 2rem;
  }

  .scroll {
    overflow: scroll;
    max-height: 375px;
  }

  nav.pagination {
    display: none;
  }

  .like {
    color: red;
    text-decoration: none;
    display: inline;
  } 
  
  .unlike {
    color: gray;
    text-decoration: none;
    display: inline;
  }
