<nav class="nav navbar-expand-lg navbar-light bg-light fixed-bottom justify-content-center">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
    </li>
    <li class="nav-item">
      <%= link_to new_post_path, class: "nav-link" do %>
        <i class="far fa-plus-square"></i>
      <% end %>
    </li>
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user), class: "nav-item" do %>
          <i class="far fa-user"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "nav-link" do %>
          <i class="far fa-user"></i>
        <% end %>
      <% end %>
    </li>
  </ul>
</nav>
